<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Label</key>
		<string>io.jml.omnimetrics.upload</string>
		<key>Program</key>
		<string>/Users/jml/.pyenv/versions/omnimetrics/bin/omnimetrics</string>
        <key>EnvironmentVariables</key>
        <dict>
          <key>GOOGLE_APPLICATION_CREDENTIALS</key>
          <string>/path/to/service-account-key.json</string>
        </dict>
        <key>ProgramArguments</key>
        <array>
          <string>omnimetrics</string>
          <string>upload</string>
          <string>--remove-after-upload</string>
          <string>--prefix=uploads</string>
          <string>/Users/jml/Library/Omnimetrics/Exports/</string>
          <string>jml-omnimetrics</string>
        </array>
        <key>QueueDirectories</key>
        <array>
          <string>/Users/jml/Library/Omnimetrics/Exports/</string>
        </array>
	</dict>
</plist>
